.cart-items {
    display: flex;
    padding: 1rem;
    border-bottom: solid 1px black;
}

.cart-items img {
    width: 20rem;
    height: 20rem;
    margin-right: 1rem;
    flex-shrink: 0;
}

.cart-items-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.plus-btn,
.minus-btn {
    border-radius: 50%;
    padding: 0;
    width: 1.1rem;
    height: 1.1rem;
}

.cart-remove-btn,
.checkout-btn {
    display: flex;
    justify-content: space-evenly;
    border: none;
    border-radius: 4px;
    background-color: #041014;
    color: #FFFFFF;
    padding: 1rem 3rem;
    font-size: 1rem;
    cursor:pointer;
    width: 30%;
}

.total-checkout {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

@media (max-width: 500px) {
    .cart-items img {
        width: 15rem;
        height: 15rem;
        margin-right: 1rem;
        flex-shrink: 0;
    }

    .cart-remove-btn {
        font-size: 0.9rem;
    }

    .checkout-btn {
        padding: 0.5rem 1.5rem;
        font-size: 0.9rem;
    }
}
